body {
  background-color: #cfd8db !important;
  font-family: "Roboto", sans-serif !important;
}

/* NotFound Page */
#notfound-h2 {
  color: #ff5d5d;
}

#notfound-p {
  color: #ffffff;
  font-size: 1.5em;
}

#notfound-div {
  margin-top: 30vh;
  height: 100vh;
  text-align: center;
}

.moviseTitle {
  color: #3292d1;
  margin-bottom: 10px;
  font-weight: 600;
}

.navbar {
  background-color: #797777;
  font-size: 1em;
}

.nav-link {
  color: #2576ac;
  border-radius: 20px;
  transition: 0.5s ease;
  font-weight: 600 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.nav-link:hover {
  background-color: #2576ac;
  border-radius: 20px;
  transition: 0.5s ease;
}

.movie-card {
  background-color: rgb(5, 84, 133) !important;
  color: #f7e9e9 !important;
  text-align: center;
  transition: 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-10px);
  transform: scale(1.05);
}

.movieimage {
  border-radius: 10px;
  transition: 0.3s ease;
}

.movieimage:hover {
  transform: scale(1.025);
}

#vote-average {
  font-size: 1.5rem;
}

p {
  margin: 0 !important;
}

i {
  color: rgb(245, 245, 1);
  font-size: 1.2rem;
}

.custom-badge {
  background-color: #2576ac;
  border-radius: 25px;
  font-weight: 600;
  color: #fff;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.language-dropdown {
  display: flex;
  align-items: center;
}

.fas {
  transition: all 0.5s ease;
}

.fas:hover {
  transform: translateY(-10px);
  transform: scale(1.3);
}

.fa-film {
  color: #ffffff;
}

.fa-film:hover {
  transform: none;
}